<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Boggle</title>
</head>
<body>
    <h1>Boggle</h1>
    <section id="boggle">
        <div class="top">
            <p> 
                High Score: <b> {{highscore}} </b> 
                in {{nplays}} plays 
            </p>

            <p>
                Score: <b class="score">0</b> | Timer: <b class="timer"></b>
            </p>
        </div>

        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td class="cell">{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="bottom">
            <form method="POST" class="add-word">
                <input name="word" class="word" autofocus>
                <button>Submit</button>
            </form>
            <br>

            <form action="restart">
                <button class="reset-button">Restart</button>
            </form>
            
            <p class="msg"></p>
            <div class="words"></div>
        </div>
    </section>

    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>let game = new BoggleGame("boggle", 60);</script>
</body>
</html>